body {
    max-width: 2000px;
    min-height: 100%;
}
h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 7px;
    line-height: 26px;
    color: #e8e8e8;
    text-align: center;
    }
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 12px;
}
h2 {
    font-size: 22px;
    font-weight: normal;
    margin: 12px;}

h3 {
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: normal;
    color: #e8e8e8;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 13px;
    margin-top: 23px;

}
p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    letter-spacing: 1.5px;
    color: #e8e8e8;
    }

    .button {
        background-color: #5474FD;
        font-family: 'Aleo', serif;
        font-size: 14px;
        color: white;
        font-weight: normal;
        letter-spacing: 1.5px;
        min-width: 90px;
        min-height:30px;
        border: none;
        white-space: nowrap;
        padding: 20px;
        }
        .button:hover {
            background-color: #4261E7;
            box-shadow: 0 2px #304085;
        }
        .button:active {
            background-color: #304085;
            box-shadow: 0 2px #1E2649;
            transform: translateY(2px);}
    .button-two {
        background-image: linear-gradient(60deg,#4261E7,#5474FD);
        font-family: 'Aleo', serif;
        font-size: 14px;
        color: white;
        font-weight: normal;
        letter-spacing: 1.5px;
        min-width: 90px;
        min-height:30px;
        border: none;
        white-space: nowrap;
        padding: 20px;
    }
        .button-two:hover {
        background-image: linear-gradient(60deg,#304085, #5070F8);
        }
        .button-two:active {
            box-shadow: 0 3px #1E2649;
            transform: translateY(2px);}